{% macro render_cluster(cluster) %}
<details>
    <summary>({{ cluster.num_tweets }}) {{ cluster.summary }}</summary>
    {% if cluster.subclusters %}
        <div style="margin-left: 20px;margin-top: 20px">
            {% for subcluster in cluster.subclusters %}
                {{render_cluster(subcluster)}}
            {% endfor %}
        </div>
    {% else %} 
        <div class="tweets-container" style="display:flex">
            {% for thread in cluster.threads %}
            <blockquote class="twitter-tweet">
                <a href="https://twitter.com/username/status/{{thread.thread_ids[0]}}">Loading...</a> 
            </blockquote>
            {% endfor %}
        </div>
        <!-- {% for thread in cluster.threads %} -->
        <!--     <div>{{thread.text}}</div> -->
        <!--     </br> -->
        <!-- {% endfor %} -->
    {% endif %}
</details>
<br>
{% endmacro %}

<!DOCTYPE html>
<html>
<head>
    <title>Tweets</title>
</head>
<body>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
    <h1>Tweets from last 24 hours</h1>
    <div>Next refresh after <span id="formattedDate"></span>.</div>
    </br>
    {% for cluster in clusters %}
      {{render_cluster(cluster)}}
    {% endfor %}
    <script>
      var epochTimestamp = {{next_refresh}}; // This is 16 September 2021 @ 12:00:00 UTC

      // Convert to a Date object
      var date = new Date(epochTimestamp * 1000);

      // Format the date in local timezone
      var dateString = date.toLocaleDateString();
      var timeString = date.toLocaleTimeString();

      // Combine and display in the HTML element
      document.getElementById("formattedDate").textContent = `${dateString} ${timeString}`;
    </script>
</body>
</html>
