<!DOCTYPE html>
<html>
<head>
    <title>Tweets</title>
</head>
<body>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
    <h1>Tweets from last 24 hours</h1>
    {% for cluster in clusters %}
        <details>
            <summary>({{ cluster.threads | length }}) {{ cluster.summary }} {{cluster.hashtags}}</summary>
            <div class="tweets-container" style="display:flex">
              {% for thread in cluster.threads %}
                <blockquote class="twitter-tweet">
                  <a href="https://twitter.com/username/status/{{thread.thread_ids[0]}}"></a> 
                </blockquote>
              {% endfor %}
            </div>
            {% for thread in cluster.threads %}
              <div>{{thread.text}}</div>
              </br>
            {% endfor %}
        </details>
        <br>
    {% endfor %}
</body>
</html>
