<!DOCTYPE html>
<html>
<head>
    <title>Tweets</title>
</head>
<body>
    <h1>Tweets from last 24 hours</h1>
    {% for cluster in clusters %}
        <details>
            <summary>({{cluster.threads | length}}) {{ cluster.summary }}</summary>
            {% for thread in cluster.threads %}
                <p>{{ thread.text }}</p>
                <!-- {% for id in thread.thread_ids %} -->
                <!--   <p>{{id}}</p> -->
                <!-- {% endfor %} -->
            {% endfor %}
        </details>
        <br>
    {% endfor %}
</body>
</html>
